@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


:root {
    --bg-color: #000000;
    --text-color: #ff4500;
    --glow-color: #ff5c33;
    --second-glow-color: rgb(255, 0, 0);
    --focus-color: #ffaa33;
    --font-retro: 'VT323', monospace;
}

.text-conectar{
    font-size:64px;
    text-align: center;
    font-family: 'VT323', monospace;
    color: var(--text-color);
    text-shadow: 0 0 5px rgb(255, 0, 0),
    0 0 10px rgb(223, 49, 49),
    0 0 15px rgb(236, 93, 93);
}

.retro-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--bg-color);
    border: 2px solid rgb(255, 0, 0);

    box-shadow: 0 0 5px rgb(255, 0, 0),
    0 0 10px rgb(253, 53, 53),
    0 0 20px rgb(236, 93, 93);
    padding: 2rem;
    width: 350px;
    margin: 3rem auto;
    text-align: left;
    font-family: var(--font-retro);
}


.retro-label {
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
    text-shadow: 0 0 8px var(--glow-color);
}


.retro-input {
    background-color: transparent;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    padding: 10px 12px;
    font-family: var(--font-retro);
    font-size: 16px;
    outline: none;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 6px rgba(255, 69, 0, 0.4);
}

.retro-input::placeholder {
    color: #ff9966;
    opacity: 0.6;
    text-shadow: 0 0 4px var(--glow-color);
}

.retro-input:focus {
    border-color: var(--focus-color);
    box-shadow: 0 0 12px var(--focus-color);
    background-color: rgba(255, 69, 0, 0.05);
}

.retro-button {
    background-color: transparent;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    padding: 10px 16px;
    font-family: 'VT323', monospace;
    font-size: 30px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 10px var(--glow-color);
}

.retro-button:hover {
    color: #000;
    background-color: var(--text-color);
    box-shadow: 0 0 20px var(--focus-color);
    text-shadow: none;
    transform: scale(1.02);
}

.button-login{
    font-size: 100px;
    background: none;
    border: none;
    color: var(--text-color);
    font: var(--font-retro);
    padding: 0;
    margin: 0;
    margin-left: 60%;
    cursor: pointer;
}


@keyframes blink {
    50% {
        opacity: 0.4;
    }
}

.cursor-blink {
    display: inline-block;
    width: 8px;
    background-color: var(--text-color);
    animation: blink 1s infinite;
}
