@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


:root {
    --font: 'VT323', monospace;
}

body{
    background-color: black;
}

.textoInfo {
    margin-top: 8rem;
    font-family: var(--font);
    color: rgb(255, 153, 0);
    font-size: 110px;
    text-align: center;
    text-transform: uppercase;

    text-shadow:
            0 0 5px rgb(255, 0, 0),
            0 0 10px rgb(223, 49, 49),
            0 0 15px rgb(236, 93, 93);

}

.botaoLogin {
    font-family: var(--font);
    cursor: pointer;

}
.botaoLogin:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
}

.sobreInfo {
    font-family: var(--font);
    color: tomato;
    font-size: 40px;
    text-align: center;
    margin-top: -2rem;
}


@keyframes typing {
    from { width: 0; }
    to { width: 80%; }
}

.linhaTracejada {
    width: 80%;
    border-top: 2px dashed rgb(253, 45, 30);
    margin: 20px auto;
    overflow: hidden;
    white-space: "nowrap";
    animation: "typing" 3s steps(50, end) infinite;
}

.divisaoMaterias {
    height: 350px;
    width: 70%;
    border: 2px;
    border-color: rgb(255, 17, 0);
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0 auto;
    margin-top: 3rem;
}

.listaMaterias {
    font-family: var(--font);
    color: rgb(253, 45, 30);
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0 auto;
    margin-top: -4rem;
}


.listaMaterias ul {
    width: calc(33.33% - 16px);
    list-style: none;
    margin: 0;
    padding: 0;
}

.tituloIndice {
    text-align: center;
    font-family: var(--font);
    color: rgb(255, 153, 0);
    font-size: 50px;
    margin: 0 auto;
    margin-top: 20px;
    text-transform: uppercase;

    text-shadow:
            0 0 5px rgb(255, 0, 0),
            0 0 10px rgb(223, 49, 49),
            0 0 15px rgb(236, 93, 93);

}

.TituloTopico {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dashed;
    font-family: var(--font);
    color: rgb(233, 37, 37);
    font-size: 25px;
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
    text-shadow:
            0 0 5px rgb(255, 0, 0),
            0 0 10px rgb(223, 49, 49),
            0 0 15px rgb(236, 93, 93);
}

.DescricaoTopico {
    flex-basis: content;
    font-family: var(--font);
    color: #ff0000;
    font-size: 28px;
    text-align: justify;
    margin: 1rem 1rem 1rem 1rem;
}

.TecnologiaTopico {
    font-family: var(--font);
    color: tomato;
    font-size: 13px;
    text-align: center;
    margin-top: 1rem;
}

.informacao{
    border: rgba(255, 0, 0, 0) solid 5px;
    margin-top: 6rem;
    margin-left: 4%;
    font-family: var(--font);
    height: fit-content;
    width: 45%;


    box-shadow: 0px 0px 25px #ff0000;
}